@import "dark.css";

#root {
  color: red;
}

html, body {
  height: 95%;
}

body {
  background-color: #121212;
  color: whitesmoke;
}

header {
  padding: 1.5em;
  display: flex;
  justify-content: center;
  margin: auto;
}

header * {
  display: inline;
  margin: 0;
}

main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -1em;
}

#spacer {
  height: 3em;
}

.epi-card {
  margin: 1em;
  width: 35ch;
}

footer {
  height: 3em;
}